<%= @time.strftime("%A")%> Week <%=   @week_number  %>

<form action="">
  <select name="studentOne" id="">
    <% @students.each do |student| %>
      <option value="<%= student %>">
        <%= student %>
      </option>
    <%end%>
    <!-- <option value="Diego">Diego</option>
    <option value="Tommy">Tommy</option>
    <option value="Pablo">Pablo</option> -->
    <!-- <option value="Barbara"></option>
    <option value="Haroon"></option>
    <option value="Sandy"></option>
    <option value="Mocus"></option>
    <option value="Marissa"></option>
    <option value="Antonio"></option>
    <option value="Bill"></option>
    <option value="Fred"></option>
    <option value="Mike"></option>
    <option value="Steve"></option>
    <option value="Juan"></option>
    <option value="Pedro"></option> -->
  </select>
  <select name="studentTwo" id="">
    <option value="Chris">Chris</option>
    <option value="Diego">Diego</option>
    <option value="Tommy">Tommy</option>
    <option value="Pablo">Pablo</option>
    <!-- <option value="Barbara"></option>
    <option value="Haroon"></option>
    <option value="Sandy"></option>
    <option value="Mocus"></option>
    <option value="Marissa"></option>
    <option value="Antonio"></option>
    <option value="Bill"></option>
    <option value="Fred"></option>
    <option value="Mike"></option>
    <option value="Steve"></option>
    <option value="Juan"></option>
    <option value="Pedro"></option> -->
  </select>
</form>

