


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  font-family: "Andale Mono";
}

body {
  margin: 0 auto;
  background-color: #F5FBEF;
}

.page {
}

.notice {
  color: #37123C;
  padding: 7px;
  background-color: #C3979F;
}

h1 {
  font-family: Impact;
  font-size: 50px;
  color: #37123C;
  background-color: #C3979F;
}

select {
  font-size: 20px;
  font-family: "Andale Mono";
}

input {
  font-size: 20px;
  width: 306px;
}

li {
  padding-left: 10px;
}

#pair_pairingDate {
  width: 306px
}

#pair_studentOne, #pair_studentTwo {
  width: 148px
}


.day {
  padding: 7px;
}

.today {
  padding: 3px 2px 3px 3px ;
}

a:link {
    color: #C3979F;
}

a:visited {
    color: #C3979F;
}
